<h2>Ajouter un niveau</h2>

<form (ngSubmit)="enregistrer()">
  <label>Nom :</label>
  <input type="text" [(ngModel)]="niveau.nom" name="nom" required>
  <br>

  <label>Cycle :</label>
  <select [(ngModel)]="niveau.cycle" name="cycle" required>
    <option value="MATERNELLE">MATERNELLE</option>
    <option value="PRIMAIRE">PRIMAIRE</option>
    <option value="COLLEGE">COLLEGE</option>
    <option value="LYCEE">LYCEE</option>
  </select>
  <br>

  <button type="submit">Enregistrer</button>
</form>
