<div class="conteneur-layout">

  <aside class="barre-laterale">
    <div class="logo-sidebar">
      <span>🎓</span>
      <div>
        <strong>GESTION SCOLAIRE</strong>
        <div>DIGITALE</div>
      </div>
    </div>

    <div class="titre-menu">MENU PRINCIPAL</div>

    <nav>

      *ngFor="let item of menuItems"
      [routerLink]="item.lien"
      routerLinkActive="lien-actif"
      class="lien-menu">
      <span class="icone-menu">{{ item.icone }}</span>
      {{ item.libelle }}
      </a>
    </nav>

    <div class="annee-scolaire">
      📅 Année académique<br>
      <strong>{{ anneeScolaireActive }}</strong>
    </div>
  </aside>

  <div class="zone-contenu">
    <router-outlet></router-outlet>
  </div>

</div>
